* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 420px;   /* 모바일 폭 */
  margin: 0 auto;
  background-color: #ffffff;
}

.image-section img {
  width: 100%;
  display: block;
}
